@using System.Data

@{
    DataTable orders = (DataTable)ViewData["bakeryOrders"];
}

<div class="container" style="padding:0px;">
    <div class="row" style="padding:0px;">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">

            <label style="float:left; font-size:30px; padding:15px 0px; padding-top:0px; width:100%; border-bottom:1px solid #e6e6e6; margin-bottom:30px !important; text-align:left; color:#3f2518; line-height:initial;">Siparişler</label>

            <table id="bakery-orders-table" style="width:100%; float:left; text-align:center; margin-top:30px; font-size:13px; font-family:'Open Sans';" class="row-border">
                <thead>
                    <tr>
                        @*<td style="background:#f0f0f0; font-weight:600;">Sipariş Tarihi</td>*@
                        <td style="background:#f0f0f0; font-weight:600;">Teslimat Tarihi</td>
                        <td style="background:#f0f0f0; font-weight:600;">Sipariş Num.</td>
                        <td style="background:#f0f0f0; font-weight:600;">Durum</td>
                        <td style="background:#f0f0f0; font-weight:600;">Fiyat</td>
                        <td style="background:#f0f0f0; font-weight:600;">Ödeme</td>
                        <td style="background:#f0f0f0; font-weight:600;">Tasarım</td>
                        <td style="background:#f0f0f0; font-weight:600;">Eylem</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < orders.Rows.Count; i++)
                        {
                            DataRow order = orders.Rows[i]; string odemeBg = "red";

                            String odeme = "Onaylanmadı";
                            if (order["PaymentApproved"].ToString() == "yes") { odeme = "ÖDENDİ"; odemeBg = "green"; }

                            if (order["PaymentType"].ToString() == "POS" & odeme == "ÖDENMEDİ") { }
                            else
                            {
                                String odemeSekli = "";
                                if (order["PaymentType"].ToString() == "POS") { odemeSekli = "ONLINE ÖDEME"; }
                                else { odemeSekli = order["PaymentType"].ToString().ToUpperInvariant(); }
                                <tr>
                                    @*<td>
                                        <label>@order["DateTime"]</label>
                                    </td>*@
                                    <td>
                                        <label style="min-width:180px;">@order["DeliveryDateTime"].ToString().Replace("/", ".")</label>
                                    </td>
                                    <td>
                                        <label>@order["OrderNumber"]</label>
                                    </td>
                                    <td>
                                        <div style="width:100%; float:left; float:left;">
                                            @{
                                                if (Session["bakeryinfo"] == null)
                                                {
                                                    <label class="bakery-ordersub-infos" style="line-height:30px;">@order["Status"]</label>
                                                }
                                                else
                                                {
                                                    string[] statusses = new string[] { "Bekliyor", "Hazırlanıyor", "Hazır", "Teslim Edildi", "Teslim Edilemedi" };
                                                    string status = order["Status"].ToString();

                                                    <select onchange="changeOrderStatus(this,'@order["OrderID"]')" style="float:left; border:1px solid #cccccc; border-radius:3px; padding:5px;">
                                                        @{
                                                            for (int i2 = 0; i2 < statusses.Length; i2++)
                                                            {
                                                                string selected = "";
                                                                if (statusses[i2] == status) { selected = "selected"; }
                                                                <option value="@statusses[i2]" @selected>@statusses[i2]</option>
                                                            }
                                                        }
                                                    </select>
                                                            }
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <label>@order["TotalPrice"] TL</label>
                                    </td>
                                    <td style="text-align:center; width:150px; background:@odemeBg;">
                                        <label style="width:150px; float:left; font-size:12px; color:white;">@odemeSekli</label>
                                        <label style="width:150px; float:left; font-size:12px; font-weight:600; color:white;">@odeme</label>
                                    </td>
                                    <td>
                                        @{
                                            if(String.IsNullOrEmpty(order["MadeID"].ToString()) == false)
                                            {
                                                <a href="@Url.Action("Editor","Home", new { designID = order["MadeID"].ToString() })"  class="go_gradient" style="margin:0px; padding:5px 15px; font-size:12px;">Tasarımı Aç</a>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detaylar", "BakeryOrderSub", "Bakery", new { orderID = order["OrderID"].ToString() }, new { target = "_blank", @class = "cart_gradient", style = "color:white; font-size:12px;" })
                                    </td>
                                </tr>
                                                            }
                                                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>