@using System.Data
@using Cake.Controllers
@using System.Globalization

@{
    DatabaseController dc = new DatabaseController();
    UtilityController uc = new UtilityController();
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = (string)ViewData["title"];
    ViewBag.Keywords = (string)ViewData["keywords"];
    ViewBag.Description = (string)ViewData["description"];

    String cat = (string)ViewData["category"]; String city = (string)Session["city"]; String code = dc.getIdFromName(city, "Province");
    DataTable bakeries = dc.MemoryCacheByQuery("select * from Bakeries where Province = '" + code + "' and BakeryID <> '98E94E0A-C764-4F99-A2F1-F4915631A891' and BakeryID <> '811C68DA-EDAD-4DE6-977E-B20F1CD1C833'");

    List<DataTable> productsByBakery = new List<DataTable>();

    for (int i = 0; i < bakeries.Rows.Count; i++) { productsByBakery.Add(dc.DBQueryGetter("select top 16 * from Products where Approved = 'yes' and Category = N'" + cat + "' and BakeryID = '" + new Guid(bakeries.Rows[i]["BakeryID"].ToString()) + "' order by newid()")); }

    DataTable designs = dc.DBQueryGetter("select top 16 * from MadeCakes where Visible = 'yes' and Category = N'" + cat + "' order by newid()");
    DataTable designsIst = dc.DBQueryGetter("select top 16 * from MadeCakes where Visible = 'yes' and Category = N'" + cat + "' and SizeOptions >= 10 order by newid()");

    String catStr = cat; if (catStr == "Yaş Pasta") { catStr = "Tezgah Pastaları"; }
}

<link rel="stylesheet" href="~/Content/jquery.rateyo.min.css">
<script src="~/scripts/UtilityScripts/jquery.rateyo.min.js"></script>

<script>

    $(document).ready(function () {

        $('.kategori-slider').owlCarousel({
            items: 4,
            itemsTablet: [600, 2],
            itemsMobile: [479, 2],
            pagination: true,
            navigation: true,
            navigationText: [
              "<img src='/Images/Site/nav_left.png'  style='width:30px;' />",
              "<img src='/Images/Site/nav_right.png' style='width:30px;' />",
            ],

        });

        var newProducts = $(".new-product-rating");

        for (i = 0; i < newProducts.length; i++) {
            $(newProducts[i]).rateYo({
                rating: parseFloat($(newProducts[i]).attr("data-rating")),
                starWidth: "15px"
            });
        }
    });

</script>

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin:30px 0px;">
        <h1 style="width:100%; float:left; font-size:26px; border-bottom:1px solid #e6e6e6; margin-bottom:20px !important; padding-bottom:20px;">
            @catStr
        </h1>
        @{
            if (designs.Rows.Count > 0)
            {
                <div style="width:100%; float:left; margin-bottom:30px; border-bottom:1px solid #e6e6e6; padding-bottom:20px;">
                    <div style="width:100%; float:left; margin-bottom:20px;">
                        <img src="~/Images/Site/logo_standalone.png" style="width:100px; margin-top:5px; float:left;" />
                        <label style="float:left; margin-left:20px; line-height:48px; font-size:18px;"><span class="hidden-xs">Tasarım  @catStr</span></label>
                    </div>
                    <div class="owl-carousel owl-theme kategori-slider" style="float:left;">
                        @{
                            DataTable table = new DataTable();
                            if (city == "Ankara") { table = designs; }
                            else { table = designsIst; }

                            for (int i = 0; i < table.Rows.Count; i++)
                            {
                                DataRow design = table.Rows[i];
                                String img = "/Images/MadeCakes/" + design["MadeID"] + "/designImg-275x275.png";

                                String designType = uc.cleanseUrlString(design["Type"].ToString().Replace("\r\n", ""));
                                String designName = uc.cleanseUrlString(design["Name"].ToString()) + "-" + design["MadeID"].ToString().Split('-')[0];
                                String price = uc.ArrangePrice(design["PriceInterval"].ToString());

                                <div class="col-md-12 col-sm-12 col-xs-12 item" style="padding:1.5%; float:left;" data-price="@design["PriceInterval"].ToString()" data-name="@design["Name"]" data-size="@design["SizeOptions"]" data-category="@design["Category"].ToString().Trim()" data-date="@Convert.ToDateTime(design["DateTime"]).ToString("MM.dd.yyyy HH:mm:ss", CultureInfo.InvariantCulture)" data-likes="@design["Likes"]">
                                    <a  href="@Url.Action("Tasarim", "Home", new { type = designType, designName = designName })">
                                        <div class="new-product-wrapper" style="padding:1%;">
                                            <img class="new-product-img" alt="ürün tasarım pasta" src="@img" onclick="$(this).parent().parent().submit()" />
                                            <div class="new-product-div">
                                                <span class="new-product-name">@design["Name"]</span>
                                                <span class="new-product-description">@design["SizeOptions"] kişilik</span>
                                                <span class="new-product-price"> @price.Split('.')[0] <span style="font-size:16px; margin-left:-7px;">.@price.Split('.')[1] TL</span></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                    <div class="tum-urunler-link" style="width:100%; float:left;">
                        <a  class="black-gradient" href="/tasarim-pasta" style="float:right; font-size:14px; ">Tüm ürünleri gör <img src="~/Images/Site/btn-right-arrow.png" style="float:right; width:10px; margin-left:7px; margin-top:5px;" /></a>
                    </div>
                </div>
                            }

                            for (int i = 0; i < bakeries.Rows.Count; i++)
                            {
                                if (productsByBakery[i].Rows.Count > 0)
                                {
                                    String link = "/pastane/" + bakeries.Rows[i]["Name"].ToString().ToLower().Replace(" ", "-").Replace("ı","i") + "/" + uc.cleanseUrlString(cat);
                                    String bakeryImg = "/Images/Bakery/" + bakeries.Rows[i]["Thumbnail"];
                                    <div class="col-md-12 col-sm-12 col-xs-12 kategori-main-div" style="padding:0px; margin-bottom:30px; border-bottom:1px solid #e6e6e6; padding-bottom:20px;">
                                        <div style="width:100%; float:left; margin-bottom:30px;">
                                            <img src="@bakeryImg" style="width:80px; float:left;" />
                                            <h2 style="float:left; margin-left:20px; line-height:48px; font-size:18px;">@bakeries.Rows[i]["Name"] <span class="hidden-xs">@catStr</span></h2>
                                        </div>
                                        <div class="owl-carousel owl-theme kategori-slider" style="float:left;">
                                            @{
                                                for (int i2 = 0; i2 < productsByBakery[i].Rows.Count; i2++)
                                                {
                                                    DataRow urun = productsByBakery[i].Rows[i2];
                                                    String product_thumbnail = "/Images/Products/" + urun["ProductID"] + "/" + (urun["Thumbnail"].ToString().Split(' '))[0];
                                                    String price = urun["Price"].ToString().Split(' ')[0];
                                                    price = uc.ArrangePrice(price);

                                                    String productCategory = uc.cleanseUrlString(urun["Category"].ToString());
                                                    String productBakery = uc.cleanseUrlString(bakeries.Rows[i]["Name"].ToString());
                                                    String productName = uc.cleanseUrlString(urun["Name"].ToString()) + "-" + urun["ProductID"].ToString().Split('-')[0];

                                                    <div class="item col-md-12 col-sm-12 col-xs-12 sortFilterBakeryProduct" style="padding:0.5%;" data-name="@urun["Name"]" data-price="@price.Split('.')[0]" data-category="@urun["Category"]" data-date="@Convert.ToDateTime(urun["AddDate"]).ToString("MM.dd.yyyy HH:mm:ss", CultureInfo.InvariantCulture)" data-favs="@urun["Fav"]">
                                                        <a  href="@Url.Action("Product", "Bakery", new { category = productCategory, bakeryName = productBakery, productName = productName })">
                                                            <div class="new-product-wrapper" style="padding:1%; width:100%; float:left;">
                                                                <img class="new-product-img" alt="ürün tasarım pasta" src="@product_thumbnail" onclick="$(this).parent().parent().submit()" />
                                                                <div class="new-product-div">
                                                                    <span class="new-product-name">@urun["Name"]</span>
                                                                    <div class="new-product-rating" data-rating="@urun["rating"]" style="float:left; pointer-events:none; width:100%; padding-bottom:8px;"></div>
                                                                    <span class="new-product-description2">@uc.productCatCorrector(urun)</span>
                                                                    <span class="new-product-price"> @price.Split('.')[0] <span style="font-size:16px; margin-left:-7px;">.@price.Split('.')[1] TL</span></span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="tum-urunler-link" style="width:100%; float:left;">
                                            <a class="black-gradient"  href="@link" style="float:right; ">Tüm ürünleri gör <img src="~/Images/Site/btn-right-arrow.png" style="float:right; width:10px; margin-left:7px; margin-top:5px;" /></a>
                                        </div>
                                    </div>
                                                    }
                                                }
        }
    </div>
    <div style="width:100%; float:left; padding-top:50px; padding-bottom:150px;">
        @{
            if (catStr == "1 Yaş Pastaları")
            {
                <label style="width:100%; float:left; text-align:justify;">
                    <b style="font-size:18px; font-weight:500; float:left; width:100%; text-align:center;">En Güzel ve En Şirin 1 Yaş Butik Pastalar iCaked.com’da.</b>
                    <br /><br /><br />1 yaş tasarım butik pasta denilince akla ilk gelen iCaked.com, şimdi ise yeni doğmuş bireyler, canlarımız olan 1 yaşına girmiş ya da 1 yaşına girmek üzere olan bebekler için mükemmel bir kutlama hediyesi sunuyor. Bir çiftin Dünya’ya getirdiği bu temiz ve güzel kokulu hediye için, ufak ve anlamlı bir tasarım 1 yaş butik pasta hediyesi.
                    <br /><br />Çevrenizde 1 yaşını doldurmak üzere olan bir bebek var ve bir hoş geldin partisi verilecek. Eğer partiye katılacaksanız, unutmamanız gereken 1 yaş tasarım butik pasta kategorilerimizden seçeceğiniz bir 1 yaş tasarım butik pasta online sipariş vermek. Bebekler için hediye seçimi zor bir iştir ve bu zorluktan sizleri kurtarıyoruz. Hem hoş geldin partisine katılacakların hem de ebeveynlerinin ağızlarını tatlandıracak enfes bir 1 yaş tasarım butik pasta ile gitmenizi öneriyoruz.
                    <br /><br />Hayatınızda yeni ve yoğun bir döneme girdiniz, yani ebeveyn oldunuz. Bebeğiniz ile mutlu ve yorucu bir hayat sürüyorsunuz ve o ilk yaşını bitirecek. 1. Yaşını kutlamak için ayarladığınız partide, yemekten sonra lezzetli bir butik pasta güzel bir seçim olur. Eğer üç kişilik bir kutlama olacaksa, iCaked.com’dan vereceğiniz online sipariş üzerine gelecek bir 1 yaş tasarım butik pasta ile partiyi lezzetlendirebilirsiniz. Kutlamaların vazgeçilmezleri eşsiz lezzetleriyle ve iCaked.com farkıyla butik pastalardır.
                    <br /><br />Doğumdan sonra ki yoğun temponuzda bebeğinize 1 yaş partisi düzenlemek istiyorsanız iCaked.com günü lezzetli geçirmeniz için yardımınıza hazır. Online olarak vereceğiniz bir 1 yaş tasarım butik pasta siparişi ile günü ve o gün yanınızda olacak kişilerin gününü lezzetli bir güne çevirebilirsiniz.
                    <br /><br />iCaked.com’dan 1 yaş tasarım butik pasta siparişini herkes verebilir, çünkü her bütçeye uygun 1 yaş tasarım butik pastalar sunuyoruz. Kendi bütçenize göre bir adet 1 yaş tasarım butik pasta beğenebilir ya da 1 yaş butik pastanızı kendiniz tasarlayabilirsiniz. Tasarlama seçeneğine göz atmak isterseniz <a href="https://www.icaked.com/Editor">linke</a> tıklamanız sizi, hayal gücünüzle baş başa bırakır. Tasarım butik pastalarımızın fiyatlandırmasında pasta boyutu (kaç kişilik olacağı) ve yapım zorluğu etkenlerini göz önünde bulunduruyoruz. Bu sayede kendinizi zorlamadan enfes bir tasarım butik pastayı online sipariş vererek şahane bir özel gün geçirebilir, sevdiklerinizi mutlu edebilirsiniz.
                </label>
            }
            else if (catStr == "Bebek Pastaları")
            {
                <label style="width:100%; float:left; text-align:justify;">
                    <b style="font-size:18px; font-weight:500; float:left; width:100%; text-align:center;">En Sevimli ve Sevgi Dolu Bebek Butik Pastalar iCaked.com’da.</b>
                    <br /><br /><br />Tasarım butik pasta denilince akla ilk gelen iCaked.com, şimdi yeni doğmuş bireyler, bebekler için mükemmel bir kutlama hediyesi sunuyor. Bir çiftin Dünya’ya verdiği bu temiz ve güzel kokulu hediye için, ufak ve anlamlı bir tasarım bebek butik pasta hediyesi.
                    <br /><br />Çevrenizde yeni bir bebek dünyaya gelmek üzere ve bir hoş geldin partisi verilecek ve siz bu partiye katılacaksanız ya da henüz yeni dünyaya gelecek veya 1 yaşını doldurmamış tertemiz kokulu ve şirin bir bebek var ve onu sevmeye gidecekseniz bebek tasarım butik pastalarımızdan bir tanesini online sipariş vermeyi unutmayın. Bebekler için hediye seçmek zordur ancak, hediye seçmek işinden sizleri kurtarıyoruz ve hem hoş geldin partisine katılacakların hem de ebeveynlerinin ağızlarını tatlandıracak enfes bir tasarım bebek butik pasta ile gitmenizi şiddetle tavsiye ediyoruz.
                    <br /><br />Ebeveyn olacağınızın haberini aldınız. Bir bebek sahibi olacağınızı öğrenmek kesinlikle farklı bir deneyimdir. Bunu kutlamak için ayarladığınız yemekten sonra lezzetli bir butik pasta hiçte fena olmaz, üç kişilik fotoğraf çekme deneyimlerine iCaked.com’dan vereceğiniz online sipariş üzerine gelecek bir bebek butik pasta ile hazırlık yapabilirsiniz. Şüphesiz ki, kutlamaların vazgeçilmezleri eşsiz lezzetleriyle butik pastalardır.
                    <br /><br />Yeni doğum yaptıysanız ya da eşiniz yeni doğum yaptıysa, kısacası bir bebek sahibi olduysanız ve bebeğinize hoş geldin partisi düzenlemek istiyorsanız ya da eşinizle baş başa bir kutlama yapacaksanız, günü lezzetli geçirmeniz için iCaked.com yardıma hazır. Online vereceğiniz bir bebek tasarım butik pasta sipariş ile günü ve o gün yanınızda olacak kişilere eşsiz ve lezzetli bir deneyim yaşatabilirsiniz.
                    <br /><br />iCaked.com’dan bebek tasarım butik pasta siparişini herkes verebilir, çünkü her bütçeye uygun pastalar sunuyoruz. Bebek tasarım butik pasta kategorilerimizden kendi bütçenize göre bir bebek tasarım butik pasta beğenebilir ya da bebek butik pastanızı tasarımınızı kendiniz yapabilirsiniz. Tasarlama seçeneğine göz atmak isterseniz <a href="https://www.icaked.com/Editor">linke</a> tıklamanız hayal gücünüzle baş başa kalmak için yeterli olacaktır. Tasarım butik pastalarımızın fiyatlandırmasında pasta boyutu (kaç kişilik olacağı) ve yapım zorluğu etkenlerini göz önünde bulunduruyoruz. Bu sayede kendinizi zorlamadan enfes bir tasarım butik pastayı online sipariş vererek şahane bir özel gün geçirebilir, sevdiklerinizi mutlu edebilirsiniz.
                </label>
            }
            else if (catStr == "Çizgi Film Pastaları")
            {
                <label style="width:100%; float:left; text-align:justify;">
                    <b style="font-size:18px; font-weight:500; float:left; width:100%; text-align:center;">Çizgi Film Pastaları Dendiğinde Akla İlk Gelen iCaked.com</b>
                    <br /><br /><br />Çizgi filmler çocukların vazgeçilmezidir. Çocukların, hayal güçleri çizgi filmler sayesinde gelişir, onlar yönlendirir. Çizgi film izleyen neredeyse her çocuğun bir çizgi kahramanı vardır. Kahramanları gibi olmak isterler, onlar gibi giyinmeye, davranmaya çalışırlar. Bu konu çok önemlidir çünkü insanlar hayallerinden peşinden koştukça gelişir. Merak etmeyin, yardımınıza iCaked.com yetişiyor!
                    <br /><br />Rengarenk tasarımlarıyla ve enfes görünümleriyle Çizgi Film Butik Pastalar, hem çocukların ufkunu açmaya yardım edecek, hem de onların özel günlerini lezzetlendirecek. Her şeyi hak eden, geleceğin umudu çocuklarımızın doğum, kutlama ve parti günleri için, iCaked.com olarak elimizden geleni yapıyoruz, onların mutluluğuna önem veriyoruz. Bir doğum günü partisinde ya da kutlama gibi özel günlerden birinde, iCaked.com üzerinden online sipariş verilmiş bir pasta ya da iCaked.com editöründe tasarlanmış bir pastanın masanın üzerinde durması hem çocuklar için hem de yetişkinler için mutluluk ve neşe kaynağıdır. Çünkü biliyorsunuz ki, sizler ve çocuklar için en kaliteli ve en lezzetli pastaları sizlere sunuyoruz.
                    <br /><br />Pastaların içeriklerine karar vermek her zaman kolay bir durum değildir. Herkesin damak zevki farklı olmasına rağmen çocukların damak zevkleri birdir. Pasta! Tatlı ve renkli yiyecekler tüm çocukların ilgisini çeker. Doğum günlerinde, özel günlerde veya bir olayı kutlarken birbirinden renkli, birbirinden lezzetli yüzlerce çizgi film pastası arasından dilediğiniz bir butik pastayı iCaked.com farkıyla online sipariş verebilirsiniz.
                    <br /><br />iCaked.com’dan çizgi film pasta siparişi vermeniz için bir başka gerekçe ise her bütçeye uygun pastalar sunmamız. Kendi bütçenize göre bir tasarım butik pasta beğenebilir ya da butik pastanızı kendiniz tasarlayabilirsiniz. Tasarlama seçeneğine göz atmak isterseniz <a href="https://www.icaked.com/Editor">linke</a> tıklamanız hayal gücünüzle baş başa kalmak için yeterli olacaktır. Tasarım butik pastalarımızın fiyatlandırmasında pasta boyutu (kaç kişilik olacağı) ve yapım zorluğu etkenlerini göz önünde bulunduruyoruz. Bu sayede kendinizi de zorlamadan enfes bir tasarım butik pastayı online sipariş vererek şahane bir özel gün geçirebilir, sevdiklerinizi mutlu edebilirsiniz.
                    <br /><br />Tamamen size özel olan bir tasarım pasta için siz tasarlayın biz pastalayalım!
                </label>
            }
            else if (catStr == "Kutlama Pastaları")
            {
                <label style="width:100%; float:left; text-align:justify;">
                    <b style="font-size:18px; font-weight:500; float:left; width:100%; text-align:center;">En Taze ve En Kaliteli Kutlama Pastaları iCaked.com’dan sipariş verilir.</b>
                    <br /><br /><br />Karışık meyve, çikolata, çilek, frambuaz, fıstık, fıstık krokan, kestane, vişne, beyaz çikolata, badem, limon, böğürtlen, pastanelerin özel içerik seçeneklerini ve daha fazlasını pasta içeriğiniz olarak belirleyebileceğiniz, online butik pasta tasarlama ve online pasta sipariş sitesindesiniz. iCaked.com olarak, en çok tercih edilen butik ve tasarım pasta türlerini, sizler daha lezzetli ve daha keyifli bir gün geçirmeniz için sizlere sunuyoruz. İçlerinde lezzet abidesi barındıran tasarım butik pastalar, dış görünüşleriyle de insanı cezbeder. Hatta öyle hoşunuza gider ki, tasarım butik pastanızı kesmeye kıyamazsınız.
                    <br /><br />Sevdiğiniz bir arkadaşınızın, çok sevdiğiniz bir insanın ya da bir akrabanızın doğum günü. Bir doğum günü partisi var ve orada bulunması gereken ve herkesin aklına gelen ilk şey doğum günü olan kişinin kesmesi, hatta üzerinde ki mumları, dileğini tuttuktan sonra üfleyerek söndürülmesi beklenen bir pastadır. Kısacası, doğum günlerinin vazgeçilmezi pastalardır. Sadece doğum günleri de değil, her türlü kutlama temalı günlerinize eşlik edecek olan şey, iCaked.com üzerinden sipariş verilen bir tasarım butik pastadır. Terfi alan veya doğum yapan bir yakınınızın ya da sizin için anlam taşıyan mutlu bir gününüze yine eşlik edecek olan, tasarımıyla gözlerinizi doyuracak, lezzetiyle de keyfinizi yerine getirecek bir tasarım butik pastadır.
                    <br /><br />Tasarım butik pasta seçiminizi yakınınızdaki bir pastaneye gidip oranın vitrininden yapmak yerine neden iCaked.com üzerinden yapmanızın daha mantıklı bir seçim olduğunu şöyle açıklayabiliriz. Sadece kaliteli pastanelerle çalışıyoruz. Bunu, sadece sizleri memnun etmek, daha iyi bir pasta lezzeti ve görünümü sunmak ve daha güzel ve lezzetli doğum günleri, yıl dönümleri, düğünler ve özel günler geçirmenizi sağlamak için yapıyoruz. Bunun yanı sıra, pastaneye gittiğinizde, sadece o an vitrinde bulunan pastalardan birini alabilirsiniz. iCaked.com bunu ortadan kaldırıyor! Bu işi online halletmenin artısı, sitemizde o an pastanenin üretebileceği bütün pastaları görebilmeniz ve o pastayı sizin için yaptıktan sonra, istediğiniz adrese istediğiniz zaman getirmeleri. Kısaca, evinizde, iş yerinizde, yolda ya da dışarıda, dilediğiniz zamanda ve dilediğiniz lezzete sahip bir butik pastayı iCaked.com’dan online sipariş verebilirsiniz.
                    <br /><br />Eğer pastanelerimizin ya da kullanıcılarımızın tasarladığı butik pastalardan birini beğenemediyseniz ve tasarım butik pastanızın tamamen size özel olmasını istiyorsanız, sizi hayal gücünüzün bu pastayı yaratabileceği editörümüze bekliyoruz! <a href="https://www.icaked.com/Editor">Siz tasarlayın biz pastalayalım!</a> 
                </label>
            }
            else if (catStr == "Sevgili Pastaları")
            {
                <label style="width:100%; float:left; text-align:justify;">
                    <b style="font-size:18px; font-weight:500; float:left; width:100%; text-align:center;">Sevgi ve Lezzet Dolu Sevgili Butik Pastaları İçin iCaked.com</b>
                    <br /><br /><br />Sizi sadece kim olduğunuz için değil, siz olduğunuz için seven, size sadece bakışlarıyla sevgisini ve sizi kendinizi önemli hissettirebilen kişiye sevgili denir. Sevgi ve bağlılık duyulan bu kişilerin mutluluğu çok önemlidir. Çoğumuz hayatlarımızda en çok değeri aileye ve sevgiliye veririz. Hayatı paylaşmanın farkına vardıran, o insandan ayrılınca özlenmeye başlanan kişi, bazen hayattan her şeyden önemli bir hâl alabilir. Kendi mutluluğunuz yerine sevgilinizin mutluluğunu koyarsınız, sadece o mutlu olsun istersiniz. O gülümsediği sürece siz de gülümsersiniz.
                    <br /><br />Sevgiliyi gülümsetmek konusunda iCaked.com olarak, fazlasıyla iddialıyız. Bu iddiamız, pastacılık sektöründe çığır açmamıza, butik pastadaki kalitemize ve uygun fiyatlarımıza dayanıyor. Pastacılık sektörüne online pasta tasarlama modülünü getirerek, tasarım butik pasta sektöründe yeni bir perde açan iCaked.com olarak, sevgili butik pasta kategorisinde, anlaştığımız en kaliteli pastaneler, en kaliteli hizmet ve en lezzetli pastalarla karşınızdayız.
                    <br /><br />İstanbul ya da Ankara’daki sevgilinizin içini ısıtacak, gördüğünde kendine hayran edecek ve gününü lezzetlendirecek, bir daha asla unutamayacağı sevgili tasarım butik pasta hediye etmeniz için online sipariş vermeniz yeterli olacaktır. Sevgili butik pasta kategorisinde yer alan onlarca butik pasta arasından seçeceğiniz bir ya da daha fazla tasarım pastayı ister direkt olarak, ister üzerinde değişiklikler yaparak online sipariş verebilirsiniz. Sevgili tasarım butik pastanızın içeriğini dilediğiniz gibi belirleyebilir, sevgili butik pastanızın üzerine pastaneye iletilmesini istediğiniz bir not, bir yazı bırakabilirsiniz. Sevgili butik pastanızın üzerine resim koymak isterseniz de dosyalarınız içerisinden istediğiniz bir fotoğraf seçmeniz sevgili butik pastanızın üzerinin o resimle süslenmesine yeterli olacaktır.
                    <br /><br />iCaked.com sevgili butik pasta tasarımları arasından ya da anlaşmalı olduğumuz kaliteli pastanelerimizin sevgili butik pasta tasarımları arasından bir hazır tasarım beğenemediyseniz üzülmeyin. Sizin için tasarladığımız üç boyutlu editörümüzü denemenizi tavsiye ederiz. Dilediğiniz bir şekilde, dilediğiniz renkte, istediğiniz iki boyutlu objelerle ya da üç boyutlu objelerle, yan süslemelerle ya da kenar süsleriyle, yazılarla, hatta bir resimle hayal gücünüzün sınırlarını zorlayarak ya da gerçekliği yansıtarak, kendi butik pastanızı tasarlayabilirsiniz. Editöre <a href="https://www.icaked.com/Editor">bu linkten ulaşabilirsiniz</a>.
                    <br /><br />Uzak bir ilişkiniz varsa, yani siz bir şehirde sevgiliniz ise Ankara’da ya da İstanbul’da yaşıyorsa, sevgilinize bir sevgili butik pasta hediye ederek sevginizi tatlı bir şekilde sevdiğiniz insana hissettirebilirsiniz.
                    <br /><br />Sevgili ve butik pasta arasındaki bağlantının daha detaylı incelemesini iCaked.com’un hazırladığı <a href="http://blog.icaked.com/2017/03/14/sevgiliye-butik-pasta/">blog’da</a> bulabilirsiniz.
                </label>
            }
            else if (catStr == "Doğum Günü Pastaları")
            {
                <label style="width:100%; float:left; text-align:justify;">
                    <b style="font-size:18px; font-weight:500; float:left; width:100%; text-align:center;">En Kaliteli ve En Lezzetli Doğum Günü Pastaları iCaked.com’da.</b>
                    <br /><br /><br />Doğum günleri ve doğum günü pastaları ayrılmaz ikililerdir. Doğum günü denildiğinde akla iki şey gelir, doğum günü hediyeleri ve doğum günü pastası.
                    <br /><br />Doğum günlerinde olmazsa olmaz pasta kesme adeti 13.YY’dan, Almanların çocuklara gösterdiği fazla ilgiden doğmuştur. O dönemlerde, çocukların bu özel günlerinde, pastanın üzerine doğum günü sahibi çocuğun yaşından bir fazla sayıda mum konuluyordu. O bir fazla mum, bir gün sönecek hayatın ışığını simgeliyordu.
                    <br /><br />Güzel bir doğum günü partisi geçirmeniz adına, iCaked.com olarak, pasta sektöründe markalaşmış, en iyi hizmeti sunan ve en taze tasarım butik pastaları evinize kadar getiren pastanelerle anlaşıyoruz. Birden çok pastaneyle anlaşmamızın sizlere katkısı ise çok geniş bir tasarım butik pasta yelpazesi yaratması. Daha güzel doğum günleri için, daha önce tatmadığınız tasarım butik pasta lezzetleri ve sevdiğiniz tasarım butik pastaların en kalitelilerini sizlere sunuyoruz.
                    <br /><br />Tasarım butik pastalar, sınırlarının hayal gücü kadar olması ve yapım aşaması tamamlanmış olan tasarım butik pastayı gören herkesin hayranlıkla ona bakması sayesinde oldukça yaygınlaştı. ‘Doğum Günlerinde Neden tasarım butik pasta?’ sorusuna özetle cevap vermek gerekirse, doğum günlerinde insanlar sıradanlaşan bileklik, saat ya da kitap almaktan sıkılmış durumdalar. Burada insanların imdadına tasarım butik pastalar yetişiyor. Çünkü, artık iCaked.com sayesinde istediğimiz butik pastanın <a href="https://www.icaked.com/Editor">tasarımını kendimiz yapabiliyoruz</a> ya da hazır tasarımları kullanarak doğum günü sahibini anlatabiliyor, bu sayede yeni yaşına girecek olan kişiyi fazlasıyla mutlu edebiliyoruz. Tasarımın altında yatan efsane lezzetler ise cabası, bu sayede de pastanın kesileceği yere yakın olan herkesi mutlu ediyoruz. ‘Doğum Günlerinde Neden butik pasta’ sorusuna daha detaylı bir cevabımızı ise <a href="http://blog.icaked.com/2017/01/21/neden-butik-pasta/">bloğumuzda</a> bulabilirsiniz. 
                </label>
            }
            else if (catStr == "Tezgah Pastaları")
            {
                <label style="width:100%; float:left; text-align:justify;">
                    <b style="font-size:18px; font-weight:500; float:left; width:100%; text-align:center;">Enfes Lezzetli ve Taze Yaş Pastalar iCaked.com’da.</b>
                    <br /><br /><br />Davetlerin, düğünlerin, yıldönümlerinin, doğum günlerinin, kısacası özel günlerin neredeyse hepsinde yaş pasta kesilir ve yenir. Bu gelenek asırlar öncesine dayanır. İnsanların en keyifli günlerinde yaş pastalara sarılmasının sebebi ise tatlarının ve görünüşlerinin insanları mutlu etmesidir. 13.YY’da İngilizlerin “CAKE” sözcüğünü üretmesiyle başlayan bu serüvenin sorumluluğunu bugün, biz, dünya üzerinde eşi benzeri olmayan ve pastacılık sektörü üzerinde yarattığı simülasyonlarla çığır açan iCaked.com üstlenmiştir.
                    <br /><br />Güncellik ile pastalar iç içedir ve onlara mutluluk, lezzet ve estetikliği ekleyen, son dokunuş olanağını sizlere sunan iCaked.com’dur.
                    <br /><br />Yaş pastalar üzerlerine sayılar, kelimeler, şekiller ve mumlar koyularak süslenir. 1920 yılında “Happy Birthday To You” şarkısı meşhur olduktan sonra dünya genelinde pastaların üzerlerine “Happy Birthday” yazılmaya başlanmıştır. Yaş pastalar bu sayede güncellikle beraberdir.
                    <br /><br />Karışık meyveli, çikolatalı, çilekli, frambuazlı, fıstıklı, fıstık krokanlı, kestaneli, vişneli ve beyaz çikolatalı olan yaş pastalar en çok tercih edilen yaş pasta türleridir, dolayısıyla üretimi en çok olan yaş pasta türleri de bunlardır. Dış görünüşleriyle insanı cezbeden yaş pastalar, içlerinde de bir lezzet hazinesi taşır. Pasta, kremanın verdiği yumuşaklıkla birlikte eriyormuş hissi yaratır ve herkesi kendine aşık eder.
                    <br /><br />Çok sevdiğiniz bir insanın, bir arkadaşınızın ya da bir akrabanızın doğum günü. Bir doğum günü partisi var ve orada bulunması gereken ve akıllara gelen ilk şey doğum günü olan kişinin kesmesi, hatta üzerinde ki mumları dileğini tuttuktan sonra üfleyerek söndürülmesi beklenen bir yaş pastadır. Kısacası, her kutlama günü birbirinden farklıdır ancak onların vazgeçilmez parçası yaş pastalardır.
                    <br /><br />Yaş pasta seçiminizi en yakın pastaneye gidip pastane vitrininden yapmak yerine neden iCaked.com üzerinden yapmanızın daha mantıklı bir seçim olduğunu tek bir cümleyle açıklayabiliriz. Sadece kaliteli pastanelerle çalışıyoruz. Bunu, sadece sizleri memnun etmek, daha iyi bir pasta lezzeti ve görünümü sunmak ve daha güzel ve lezzetli doğum günleri, yıl dönümleri, düğünler ve özel günler geçirmenizi sağlamak için yapıyoruz.
                    <br /><br />Evinizde, iş yerinizde, dışarıda ya da yolda, dilediğiniz zamanda ve dilediğiniz lezzette ve görünümde bir yaş pastayı iCaked.com’dan online sipariş verebilirsiniz.
                </label>
            }

        }
    </div>
</div>