<style>
    .MenuBar {
        text-align: center;
        height: 40px;
        font-size: 20px;
        font-family: 'Baskerville Old Face';
        color: white;
        margin-bottom: 5px;
        background-color: brown;
    }

    .fixed {
    height: 85%;
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 2;
    width: 250px;
    }
</style>

<div class="fixed">

<div class="row">
    <div class="col-md-12 btn MenuBar" style="margin-top:10px; height:100px; font-size: 30px; background-color: darkorange; line-height: 40px">INFINIA<br />Engineering</div>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Home")">Home</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Agenda")">Agenda</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","User")">Attendees</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","User")">Speakers</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Event")">Live Polls</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","ChatDiscussion")">Discussions</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Agenda")">Alerts</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Document")">Documents</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Map")">Maps</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Partner")">Partners</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","SocialMedia")">Social Media</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","InfoBooth")">Info Booth</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Event")">Post-Event Survey</a>
</div>

<div class="row">
    <a class="col-md-12 btn MenuBar" href="@Url.Action("Index","Home")">App Help</a>
</div>

</div>