@using EventApp.Models
@model EventApp.Models.PartnerEventCategory
@using System.Globalization;

@{
    ViewBag.Title = "Sponsorlar";
    Partner thispartner = (Partner)ViewData["Partner"];
    String photo = "../PartnerLogo/" + thispartner.Id + ".jpg";

    string Error = (string)ViewData["Error"];

    List<PartnerEventCategory> Categories = (List<PartnerEventCategory>)ViewData["Categories"];
    string CatErrors = (string)ViewData["CatErrors"];
    string disp = "";
    if (CatErrors == "Correct")
    {
        disp = "display: none;";
    }
}

<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">

    function AddCategoryinSponsorship() {
        $(".AddNewInSponsorship").slideDown(200);

    }

</script>

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("PartnerListEditable", "Partners")">Sponsorlar</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Yeni</span>
                </li>
            </ul>
        </div>
        <h1 class="page-title">
            Sponsor
            <small>Yeni Sponsor Ekle</small>
        </h1>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-body">
                        <div class="mt-element-step">
                            <div class="row step-background-thin">
                                <div class="col-md-6 bg-grey-steel mt-step-col">
                                    <div class="mt-step-number">1</div>
                                    <div class="mt-step-title font-grey-cascade">Firma</div>
                                    <div class="mt-step-content font-grey-cascade">Seç</div>
                                </div>
                                <div class="col-md-6 bg-grey-steel mt-step-col active">
                                    <div class="mt-step-number">2</div>
                                    <div class="mt-step-title font-grey-cascade">Sponsorluk</div>
                                    <div class="mt-step-content font-grey-cascade">Oluştur</div>
                                </div>
                            </div>
                        </div>
                        <br />
                        @using (Html.BeginForm("SubmitSponsorship", "Partners", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                        <div class="mt-card-item">
                                            <div class="mt-card-avatar mt-overlay-4">
                                                <img src="@photo" />
                                                <div class="mt-overlay">
                                                    <div class="mt-info font-white">
                                                        <div class="mt-card-content">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                        <br />
                                        
                                        <div class="form-group">
                                            <label class="control-label col-md-3" style="margin-left:20px;">Sponsorluk Tipi</label>
                                            <div class="col-md-5">
                                                <select name="CategorySelect" id="CategorySelect" class="form-control form-control-solid placeholder-no-fix">
                                                    <option value=@Guid.Empty>Seçin...</option>)
                                                    @{
                                                        for (int i = 0; i < Categories.Count; i++)
                                                        {
                                                            <option value=@Categories[i].Id>@Categories[i].Rating) @Categories[i].Name</option>
                                                        }
                                                    }
                                                </select>
                                                @{
                                                    if (Error == "Error")
                                                    {
                                                        <span style="display: block; color: #e73d4a; border-width: 1px; border: 1px solid transparent; border-radius: 0!important; box-sizing: border-box; font-size: 14px;"> Please Select Category of Sponsorship </span>
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-offset-5 col-md-3 col-sm-3 col-xs-3">
                                                <a href="@Url.Action("AddCompany","Partners")" id="continue-btn" class="btn red" style="background-color: #ed6b75 !important;">
                                                    Geri
                                                </a>
                                                <button type="submit" id="continue-btn" class="btn btn-outline green button-next" name="CategorySelect" value="CategorySelect">Oluştur</button>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <a onclick="AddCategoryinSponsorship()" name="NewCategoryAdd" id="NewCategoryAdd" class="btn green">Yeni Kategori Ekle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                             
                            </div>
                                                }

                        @using (Html.BeginForm("NewCategory", "Partners", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal AddNewInSponsorship" style="@disp">
                                <h3 class="block col-md-offset-3">Yeni Kategori</h3>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Sponsorluk Tipi</label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Kategori Derecelendirmesi</label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                                        @{
                                            if (CatErrors == "CatErrors")
                                            {
                                                <span style="display: block; color: #e73d4a; border-width: 1px; border: 1px solid transparent; border-radius: 0!important; box-sizing: border-box; font-size: 14px;"> Both Category Name & Rating is Required </span>
                                            }
                                        }
                                    </div>
                                </div>                            

                                <div class="row">
                                    <div class="col-md-offset-3 col-md-2 col-sm-2 col-xs-2">
                                        <button type="submit" id="continue-btn" class="btn btn-outline green button-next" name="Company" value="@thispartner.Id">Oluştur</button>
                                    </div>
                                </div>
                            </div>
                                            }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN CORE PLUGINS -->
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>

<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>


<script src="../assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="../assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
