@{
    Layout = null;
    string Name = (string)ViewData["Name"];
    string OtelName = (string)ViewData["OtelName"];
    string Mail = (string)ViewData["Mail"];
    string CheckIn = (string)ViewData["CheckIn"];
    string CheckOut = (string)ViewData["CheckOut"];
    string EventName = (string)ViewData["EventName"];
    Guid OtelID = (Guid)ViewData["OtelID"];
    string photo = "../Images/Otels/" + OtelID + "1.jpg";
}
<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic | User Lock Screen 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../assets/pages/css/lock.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class="">
    <div class="page-lock">
        <div class="page-logo">
            <a class="brand" href="index.html">
                <img src="../assets/pages/img/logo-big.png" alt="logo" />
            </a>
        </div>
        <div class="page-body">
            <div class="lock-head" style="color: #7ba2c0;"> Check-In Bilgileriniz Tarafımza Ulaşmıştır </div>
            <div class="lock-body">
                <div class="pull-left lock-avatar-block">
                    <img src="@photo" style="width: 110px; height: 110px;" class="lock-avatar">
                </div>
                <form class="lock-form pull-left" action="index.html" method="post">
                    <h3 style="color: white; margin-top: 0px; margin-bottom: 30px; text-align: center;">@Name</h3>
                    <h4 style="color: white; text-align: center;">Otel: @OtelName</h4>
                    <h4 style="color: white; text-align: center;">Check-In: @CheckIn </h4>
                    <h4 style="color: white; text-align: center;">Check-Out: @CheckOut</h4>

                    <div class="form-actions">
                        <a href="@Url.Action("","")" class="btn btn-success white" style="background-color: #b7b5b5; border-color:#b7b5b5; font-family: Arial">Ana Sayfa</a>
                    </div>
                </form>
            </div>
            <div class="lock-bottom">
                <a href="" style="font-size: 20px;"> İyi Seyahatler Dileriz </a>
            </div>
        </div>
        <div class="page-footer-custom"> 2014 &copy; Metronic. Admin Dashboard Template. </div>
    </div>
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="../assets/pages/scripts/lock.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>